html, body {
    height: 100%;
    position: relative;
}

header .heading {
    color: rgb(203, 22, 3);
    font-size: 1.4rem;
}

#back {
    display: block;
    color: rgb(203, 22, 3);
    position: absolute;
    height: 100%;
    left: 3%;
    top: 0;
    line-height: 40px;
}

.container {
    width: 100%;
    height: 100%;
    display: table;
    padding-top: 40px;
    background-color: #ffffff;
}

form {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: relative;
}

.heading {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
}

label {
    display: block;
    width: 65%;
    margin: 20px auto;
    position: relative;
}

label.heading {
    height: 80px;
    width: 135px;
    margin: 0 auto 15%;
    background: url('../images/icons.png') no-repeat -119px -487px;
}

label * {
    float: left;
}

label p {
    color: rgb(203, 22, 3);
}

input {
    width: 70%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 8px;
    padding: 5px;
    border: 1px solid rgb(170, 170, 170);
    margin-left: 12px;
    margin-right: 10px;
}

#pwd-md5 {
    display: none;
}

#login-btn {
    margin: 20% auto 0;
    width: 100px;
    text-align: center;
    line-height: 28px;
    border-radius: 10px;
    background-color: rgb(203, 22, 3);
    color: #ffffff;
    font-size: 0.95rem;
}

a#noAccount {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 26px;
    color: rgb(170, 170, 170);
}

@media screen and (min-width: 350px) {
    label {
        height: 37px;
    }

    label p {
        line-height: 37px;
        font-size: 1rem;
    }

    input {
        line-height: 27px;
    }

    a#noAccount {
        font-size: 0.95rem;
    }
}

@media screen and (max-width: 349px) {
    label {
        height: 26px;
    }

    label p {
        line-height: 26px;
        font-size: 0.85rem;
    }

    input {
        line-height: 16px;
        font-size: 0.8rem;
    }

    a#noAccount {
        font-size: 0.7rem;
    }

    label.heading {
        transform: scale(0.85);
    }
}